<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- DB접속정보 값을 가지고 있는 파일 -->
	<properties resource="db.properties" />

	<!-- alias -->
	<typeAliases>
		<!-- type은 java 파일 경로 , alias는 별칭 UserMapper에서 사용 -->
		<typeAlias alias="Customer" type="sesschool.bank.vo.Customer" />
		<typeAlias alias="Account" type="sesschool.bank.vo.Account" />
		<typeAlias alias="AccountLog" type="sesschool.bank.vo.AccountLog" />
		<typeAlias alias="Board" type="sesschool.bank.vo.Board" />

	</typeAliases>


	<!-- DB접속 정보 셋팅 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	<!-- SQL문 정의한 파일 포함 -->
	<mappers>
		<mapper resource="mapper/testMapper.xml" />
		<mapper resource="mapper/AccountMapper.xml" />
	</mappers>

</configuration>
